pre {
	width: auto;
	display: block;
	padding: 1em 1em;
	margin: auto 40px auto 40px;
	border: solid 1px #e1e1e1
}

.sitebody {
	min-height: 1000px;
}

.bottom-right {
	position: absolute;
	top: 0;
	left: 0;
}
