body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.pull-right {
    text-align: right;
}

.time, .author {
    color: darkslategray;
    font-size: 80%;
}

.blog-posts article {
    padding-top: 10px;
}

footer {
    padding-top: 100px;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}
