<footer>&copy; Matthew Fisher 2018
	<a class="pull-right" href="https://twitter.com/bacongobbler" target="_blank">@bacongobbler</a>
</footer>

<script src="/js/prettify/prettify.js"></script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-47821611-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script>
	function doPrettyPrint(){
		pres=document.getElementsByTagName('pre');
		for (i=0; i < pres.length; i++) {
			pres[i].className+=" prettyprint";
		}
		prettyPrint();
	}
</script>

</body>
</html>
