<footer>
<img src="/img/microsoft_thumbnail.jpg" alt="Microsoft" /><br />
Matthew Fisher, Caffeinated Software Engineer<br />
Microsoft Azure Platform<br />
Nanoose Bay, BC Canada<br />
Github: <a href="https://github.com/bacongobbler" target="_blank">@bacongobbler</a><br />
Twitter: <a href="https://twitter.com/bacongobbler" target="_blank">@bacongobbler</a><br />
</footer>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-47821611-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</body>
</html>
